/* ##### COLLAPSIBLE SECTIONS ##### */
.collapsible {
    background-color: darkslategrey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: large;
    font-weight: bolder;
    color: white;
  }
  
  .active, .collapsible:hover {
    background-color: darkslategrey;
  }
  
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
    margin-bottom: 20px;
  }

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: white;
  }

.correct{
    color: green;
    display: inline;
}
.incorrect{
    color: red;
    display: inline;
}
.feedback{
    font-size: large;
    font-weight: bold;
    display: inline;
}
.topic{
  font-size: large;
  font-weight: bold;
  display: inline;
}

.order_by_button{
  padding-bottom: 20px;
}



