{% extends "base.html" %} 

{% block content %}
    <h1>Add Multiple Choice Questions</h1>
    <div> <p>Add Multiple Choice Questions</p>
        <form action="", method="post" novalidate>
            {{ form.hidden_tag() }}

            <p> Question: 
                {{ form.question(class="form-control form-control-lg")}}
                {% for error in form.question.errors %} 
               <span style="color: red;">[{{ error }}]</span>
               {% endfor %}
            </p>
            
            <p>
                {{ form.ans_multi_select_1.label }}
                {{ form.answer1  }}
                {{ form.ans_multi_select_1 }}
                {% for error in form.answer1.errors %} 
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.ans_multi_select_2.label }}
                {{ form.answer2 }}
                {{ form.ans_multi_select_2}} 
                {% for error in form.answer2.errors %} 
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.ans_multi_select_3.label }}
                {{ form.answer3 }}
                {{ form.ans_multi_select_3}}
            </p>
            <p>
                {{ form.ans_multi_select_4.label }}
                {{ form.answer4 }}
                {{ form.ans_multi_select_4}}
            </p>
         
            <p> 
                {{ form.marks.label }}
                {{ form.marks }}
                {% for error in form.marks.errors %} 
               <span style="color: red;">[{{ error }}]</span>
               {% endfor %}
            </p>
            <p> 
                {{ form.feedback.label }}
                {{ form.feedback(size=100) }}
                
            </p>
        </div>
            <p>
                
                {{ form.submit(class="btn btn-info ")}}
            </p>
            <!--Clear button-->
            <input type="reset", class="btn btn-info ">
        </form>



{% endblock %}