{% extends "base.html" %}
{% block content %}
<div class="post_date_form">


</div>
<h1>Edit Multiple Choice Question</h1>
<h3>Hi {{ current_user.forename }}, this is question No. {{mcquestion.id}}</h3>
    
<form action="", method="post" novalidate>
    {{ form.hidden_tag() }}

    <p> <b>Question:</b> 
        {{ form.question(class="form-control form-control-lg")}}
        {% for error in form.question.errors %} 
       <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
    </p>
    
    <p>
        {{ form.ans_multi_select_1.label }}:
        {{ form.answer1  }}
        {{ form.ans_multi_select_1 }}
        {% for error in form.answer1.errors %} 
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ans_multi_select_2.label }}:
        {{ form.answer2 }}
        {{ form.ans_multi_select_2}} 
        {% for error in form.answer2.errors %} 
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.ans_multi_select_3.label }}:
        {{ form.answer3 }}
        {{ form.ans_multi_select_3}}
    </p>

    <p>
        {{ form.ans_multi_select_4.label }}:
        {{ form.answer4 }}
        {{ form.ans_multi_select_4}}
    </p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    

    {% for message in messages %}
        <p style="color: red;"><b>{{ message }}</b></p>
    {% endfor %}

    
    {% endif %}
    {% endwith %} 
 
    <p>
        <b>Subject:</b>
    </p>
    <p>
        
        
        {% for choice in form.subject %}
            {{ choice }}
            {{ choice.label }}
          
        <br>
        {% endfor %}
        {% for error in form.subject.errors %} 
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> 
        <b>{{ form.marks.label }}:</b>
        {{ form.marks }}
        {% for error in form.marks.errors %} 
       <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
    </p>
    <p> 
        <b>{{ form.feedback.label }}</b>
        {{ form.feedback(size=100) }}
        {% for error in form.feedback.errors %} 
       <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
    </p>
    
   
    <p> 
        <b>{{ form.rating.label }}</b> {{ form.rating }}
    </p>

    <p>
        <b>{{ form.topic.label }}</b>
        {{ form.topic }}
        
    </p>
    <p>
        
        {{ form.submit(class="btn btn-info ")}}
    </p>
    <!--Clear button-->
    <input type="reset", class="btn btn-info ">
</form>

    


{% endblock %}