{% extends "base.html" %}

{% block content %}
    <h1>Edit {{ test.testtitle }}</h1>
    <form action="/create_form_test" method="POST">
        {{ QCform.csrf_token }}
        <h2>Question 1 - {{ question_1.question }}</h2>
        <div><h3>Select exsting question</h3>{{ QCform.question_1 }}</div>
        <br>
        <div><h3>Or write new multiple choice question</h3>{{ QCform.WriteMCquestion_1}}</div>
        <br>
        <div><h3>Or write new written answer question</h3>{{ QCform.WriteFTGquestion_1 }}</div>
        <ul>
            {% for error in QCform.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>       
        <h2>Question 2 - {{ question_2.question }}</h2>
        <div><h3>Select exsting question</h3>{{ QCform.question_2 }}</div>
        <br>
        <div><h3>Or write new multiple choice question</h3>{{ QCform.WriteMCquestion_2}}</div>
        <br>
        <div><h3>Or write new written answer question</h3>{{ QCform.WriteFTGquestion_2 }}</div>
        <ul>
            {% for error in QCform.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        <h2>Question 3 - {{ question_3.question }}</h2>
        <div><h3>Select exsting question</h3>{{ QCform.question_3 }}</div>
        <br>
        <div><h3>Or write new multiple choice question</h3>{{ QCform.WriteMCquestion_3}}</div>
        <br>
        <div><h3>Or write new written answer question</h3>{{ QCform.WriteFTGquestion_3 }}</div>
        <ul>
            {% for error in QCform.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        <h2>Question 4 - {{ question_4.question }}</h2>
        <div><h3>Select exsting question</h3>{{ QCform.question_4 }}</div>
        <br>
        <div><h3>Or write new multiple choice question</h3>{{ QCform.WriteMCquestion_4 }}</div>
        <br>
        <div><h3>Or write new written answer question</h3>{{ QCform.WriteFTGquestion_4 }}</div> 
        <ul>
            {% for error in QCform.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        <h2>Question 5 - {{ question_5.question }}</h2>
        <div><h3>Select exsting question</h3>{{ QCform.question_5 }}</div>
        <br>
        <div><h3>Or write new multiple choice question</h3>{{ QCform.WriteMCquestion_5 }}</div>
        <br>
        <div><h3>Or write new written answer question</h3>{{ QCform.WriteFTGquestion_5 }}</div>
        <ul>
            {% for error in QCform.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        <input type="submit">
    </form>
    <form  action="{{ url_for('random_formtest')}}" method="POST">
        <input type="submit" value="Generate Random test" >
    </form>

    
{% endblock %}