{% extends "base.html" %}
{% block content %}

<h1>Formative Test List</h1>

{% for test in allFormtests %}
     <a href="{{ url_for( 'formtest', Form_test_id=test.id ) }}"><p>Test Title: {{ test.testtitle }}, Test module: {{ test.mdls.code }} - {{ test.mdls.name }}, Test author: {{ test.tstathr.forename}} {{ test.tstathr.surname}}, Test rating: {{ test.test_rating_num }}</p></a>
     <a href="{{ url_for( 'startformtest', Form_test_id=test.id ) }}">   ->  Take Test</p></a>
     <form  action="{{ url_for('delete_formtest', Form_test_id=test.id)}}" method="POST">
          <input type="submit" value="Delete Test" >
     </form>
     <form  action="{{ url_for('release_formtest', Form_test_id=test.id)}}" method="POST">
          <input type="submit" value="Release/unrelease Test" >
     </form>
{% endfor %}


{% endblock %}
