{% extends "base.html" %}
{% block content %}

<h1>Formative Test List</h1>
<hr>

{% for test in allFormtests %}
     <a class="btn btn-primary" href="{{ url_for( 'formtest', Form_test_id=test.id ) }}"><p>Test Title: {{ test.testtitle }} | Test module: {{ test.mdls.code }} - {{ test.mdls.name }} | Test author: {{ test.tstathr.forename}} {{ test.tstathr.surname}} | Test rating: {{ test.test_rating_num }} | Test released:{{ test.available_to_take }}</p></a>
     <form  action="{{ url_for('delete_formtest', Form_test_id=test.id)}}" method="POST">
          <input type="submit" value="Delete Test" type="button" class="btn btn-info" >
     </form> 
     <form  action="{{ url_for('release_formtest', Form_test_id=test.id)}}" method="POST">
          <input type="submit" value="Release/unrelease Test" type="button" class="btn btn-info" >
     </form>
     
<hr>
{% endfor %}


{% endblock %}
