{% extends "base.html" %}
{% block content %}


<h1>Previous Questions</h1>

<!--JAVA COLLAPSIBLE-->
<button type="button" class="collapsible">Java</button>
<div class="content" id = "collapsible_java">

  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Order By</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('question_list', order_by = 'question_type') }}">Question Type</a></li>
      <li><a class="dropdown-item" href="{{ url_for('question_list', order_by = 'topic') }}">Topic</a></li>
      <li><a class="dropdown-item" href="{{ url_for('question_list', order_by = 'marks_asc') }}">Marks (Asc)</a></li>
      <li><a class="dropdown-item" href="{{ url_for('question_list', order_by = 'marks_desc') }}">Marks (Desc)</a></li>
      <li><a class="dropdown-item" href="{{ url_for('question_list', order_by = 'difficulty') }}">Difficulty</a></li>
    </ul>
  </div>

  {% for question in questions %}
  {% if question.subject_tag == "Java" %}

  {% if question.question_type == "fill_in_the_blank" %}
  {% with fill_in_the_blank_question = question %}
    {% include "fill_in_the_blank_question.html" %}
  {% endwith %}

  {% else %}
  {% with mcquestion = question %}
    {% include "mc_question.html" %}
  {% endwith %}

  {% endif %}
  {% endif %} <!--This is for subject_tag-->
  {% endfor %}
</div>

<!--JavaScript COLLAPSIBLE-->
<button type="button" class="collapsible">JavaScript</button>
<div class="content" id = "collapsible_javascript">
  {% for question in questions %}
  {% if question.subject_tag == "JavaScript" %}

  {% if question.question_type == "fill_in_the_blank" %}
  {% with fill_in_the_blank_question = question %}
    {% include "fill_in_the_blank_question.html" %}
  {% endwith %}

  {% else %}
  {% with mcquestion = question %}
    {% include "mc_question.html" %}
  {% endwith %}

  {% endif %}
  {% endif %} <!--This is for subject_tag-->
  {% endfor %}
</div>

<!--PYTHON COLLAPSIBLE-->
<button type="button" class="collapsible">Python</button>
<div class="content" id = "collapsible_python">
  {% for question in questions %}
  {% if question.subject_tag == "Python" %}

  {% if question.question_type == "fill_in_the_blank" %}
  {% with fill_in_the_blank_question = question %}
    {% include "fill_in_the_blank_question.html" %}
  {% endwith %}

  {% else %}
  {% with mcquestion = question %}
    {% include "mc_question.html" %}
  {% endwith %}

  {% endif %}
  {% endif %} <!--This is for subject_tag-->
  {% endfor %}
</div>

<!--SQL COLLAPSIBLE-->
<button type="button" class="collapsible">SQL</button>
<div class="content" id = "collapsible_sql">
  {% for question in questions %}
  {% if question.subject_tag == "SQL" %}

  {% if question.question_type == "fill_in_the_blank" %}
  {% with fill_in_the_blank_question = question %}
    {% include "fill_in_the_blank_question.html" %}
  {% endwith %}

  {% else %}
  {% with mcquestion = question %}
    {% include "mc_question.html" %}
  {% endwith %}

  {% endif %}
  {% endif %} <!--This is for subject_tag-->
  {% endfor %}
</div>

<!--Miscellaneous COLLAPSIBLE-->
<button type="button" class="collapsible">Miscellaneous</button>
<div class="content" id = "collapsible_misc">
  {% for question in questions %}
  {% if question.subject_tag == "SQL" %}

  {% if question.question_type == "fill_in_the_blank" %}
  {% with fill_in_the_blank_question = question %}
    {% include "fill_in_the_blank_question.html" %}
  {% endwith %}

  {% else %}
  {% with mcquestion = question %}
    {% include "mc_question.html" %}
  {% endwith %}

  {% endif %}
  {% endif %} <!--This is for subject_tag-->
  {% endfor %}
</div>

<!--Script for collapsible sections-->
<script>

  
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
</script>
{% endblock %}
