{% extends "base.html" %}
{% block content %}
<div class="post_date_form">


</div>
<h1>Hi, This is AAT Answer Sheet!</h1>
    
{{ total }}
{% for question in questions %} 
<h2 class="question_title">{{loop.index}}. {{ question.question }}</h2>
{% if question.marks == 1 %}
{{ question.question }}
<p>This Question is worth {{ question.marks}} mark.</p>
{% else %} 
<p>This Question is worth {{ question.marks}} marks.</p>
{% endif %}
    
<p>(a) {{ question.answer_1}} {% if question.ans_choice_1==1 %}
    <p id="correct"><b>Correct Answer</b></p>
    {% else %} 
    <p id="incorrect">Incorrect Answer</p>
    {% endif %}
</p>

<p>(b) {{ question.answer_2}} {% if question.ans_choice_2==1 %}
    <p id="correct"><b>Correct Answer</b></p>
    {% else %} 
    <p id="incorrect">Incorrect Answer</p>
    {% endif %}
</p>

{% if question.answer_3 %}
<p>(c) {{ question.answer_3}} {% if question.ans_choice_3==1 %}
    <p id="correct"><b>Correct Answer</b></p>
    {% else %} 
    <p id="incorrect">Incorrect Answer</p>
    {% endif %}
</p>
{% endif %}

{% if question.answer_4 %}
<p>(d) {{ question.answer_4}} {% if question.ans_choice_4==1 %}
    <p id="correct"><b>Correct Answer</b></p>
    {% else %} 
    <p id="incorrect">Incorrect Answer</p>
    {% endif %}
</p>
{% endif %}

</h3>  {% if question.feedback%}
    <h3>Feedback:</h3> <p id="feedback">{{ question.feedback}}</p>
    
    {% endif %}
</p>
<hr>
{% endfor %}

{% endblock %}