{% extends "base.html" %}

{% block content %}
    <div class="container">

        <h1>Individual results:  {{ individ_results.username }} </h1>
        <br>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="{{ url_for('static', filename='student.jpg' ) }}"  class="img-fluid rounded-start" width="160" height="100" >
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">{{ individ_results.forename }} {{ individ_results.surname }} </h4>
                                <br>
                                <p class="card-text">last log in: {{ user.date.strftime('%d-%b-%Y %H:%M') }} </p>
                                <p class="card-text">logged in x times (update): {{ user.date.strftime('%d-%b-%Y %H:%M') }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" >
                    <div class="card-header d-flex justify-content-between">Summary <a href="#" class="btn btn-primary">view</a></div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">number marked <span class="list-group-flush"> {{ total_mark_count }} </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">lowest mark <span class="list-group-flush"> {{ total_mark_min }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">higest mark <span class="list-group-flush"> {{ total_mark_max }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">average mark <span class="list-group-flush"> {{ total_mark_avg }} </span>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <br>
        <br>

        

        <table id="data2" class="table">
            <thead>
                <tr>
                    <th>test id</th> 
                    <th>test rating</th> 
                    <th>test date</th>                   
                    <th>mark</th>
                </tr>
            </thead>
            <tbody>
                {% for res in entries %}
                    <tr>
                        <td><a href="#">{{ res.test_id }}</a> </td>
                        <td><a href="#">{{ res.test_rating }}</a> </td>
                        <td>{{ res.date.strftime('%d-%b-%Y') }} </td>                        
                        <td> {{ res.total_mark }} </td>
                    </tr>
                {% endfor %}
            </tbody>          
        </table>
        <br>
        <br>
        <br>


        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header d-flex justify-content-between">Summary <a href="#" class="btn btn-primary">view</a></div>
                    <!-- plotting mark v date -->
                    <div id="chart"></div>
                   
                </div>
            </div>

            <!-- empty - SPARE -->
            <div class="col">
                <div class="card h-100" >
                </div>
            </div>


            <div class="col">
                <div class="card h-100">
                    <div class="card-header d-flex justify-content-between">
                        <form method="get">
                            <label for="axis">Select axis:</label>
                            <select name="axis" id="axis" onchange="this.form.submit()">
                                {% for option in dropdown_options %}
                                <option btn btn-secondary dropdown-toggle value="{{ option.value }}" {% if request.args.get('axis') == option.value %}selected{% endif %}>
                                    {{ option.label }}
                                </option>
                                {% endfor %}
                            </select>
                        </form>                        
                    </div>

                    <div id="plot1"></div>

                </div>
            </div>
                
           

            <div class="col">
                <div class="card h-100" >
                    <div id="plot2"></div>
                </div>
            </div>
            
            

            
            
        </div>

    </div>

    
        

        
    

{% endblock %}

<!-- adapted from Miguel Grinerg 'Beautiful interactive tables for your Flask Templates' -->
<!-- accessed 18-03-2023  https://blog.miguelgrinberg.com/post/beautiful-interactive-tables-for-your-flask-templates -->

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data2').DataTable({
        columns: [
          null,         
          null,
          null,
          null                   
          ],
      });
    });

       
    var dates = {{ dates|safe }};
    var marks = {{ marks|safe }};

    var data = [{
        x: dates,
        y: marks,
        type: 'bar'
    }];

    Plotly.newPlot('chart', data);

    var plot1 = {{ fig1.to_json()|safe }};
    Plotly.newPlot('plot1', plot1.data, plot1.layout);
    
    var plot2 = {{ fig2.to_json()|safe }};
    Plotly.newPlot('plot2', plot2.data, plot2.layout);

    

  </script>
{% endblock %}