{% extends "base.html" %} 

{% block content %}
    <h1>Hi, This is Test!</h1>

    
    
    
    <form action="", method="post" novalidate>
        {{ form.hidden_tag() }}

        
    
        
    <h2 class="question_title"> {{mc_question.question}}</h2>
    <p> A:
        {{ mc_question.answer_1}} {{ form.ans_multi_select_1}}</p>
    
    <p> B:
            {{ mc_question.answer_2}} {{ form.ans_multi_select_2}}</p>
    
    <p> C:
            {{ mc_question.answer_3}} {{ form.ans_multi_select_3}}</p>
    
    <p> D:
        {{ mc_question.answer_4}} {{ form.ans_multi_select_4}}</p>
    
    
    

    <p>
    {{ form.submit() }}
    </p>
    <!--Clear button-->
    <input type="reset">
    </form>
    


{% endblock content %}