{% extends "base.html" %}
{% block content %}

<h1>{{question_1.question}}</h1>
<h3>1) {{question_1.ans_choice_1}}</h2>
<h3>1) {{question_1.ans_choice_2}}</h2>
<h3>1) {{question_1.ans_choice_3}}</h2>
<h3>1) {{question_1.ans_choice_4}}</h2>

<h1>{{question_2.question}}</h1>
<h3>1) {{question_2.ans_choice_1}}</h2>
<h3>1) {{question_2.ans_choice_2}}</h2>
<h3>1) {{question_2.ans_choice_3}}</h2>
<h3>1) {{question_2.ans_choice_4}}</h2>

<h1>{{question_3.question}}</h1>
<h3>1) {{question_3.ans_choice_1}}</h2>
<h3>1) {{question_3.ans_choice_2}}</h2>
<h3>1) {{question_3.ans_choice_3}}</h2>
<h3>1) {{question_3.ans_choice_4}}</h2>

<h1>{{question_4.question}}</h1>
<h3>1) {{question_4.ans_choice_1}}</h2>
<h3>1) {{question_4.ans_choice_2}}</h2>
<h3>1) {{question_4.ans_choice_3}}</h2>
<h3>1) {{question_4.ans_choice_4}}</h2>

<h1>{{question_5.question}}</h1>
<h3>1) {{question_5.ans_choice_1}}</h2>
<h3>1) {{question_5.ans_choice_2}}</h2>
<h3>1) {{question_5.ans_choice_3}}</h2>
<h3>1) {{question_5.ans_choice_4}}</h2>

{% endblock %}